.home {
  display: flex;
  height: 100vh;
  width: 100vw;
}


/* ---------main--------- */

.home-main {
  height: 100%;
  width: 80%;
}


/* main-main */

.h-m-main {
  height: 76%;
  background-color: #f49552;
  display: flex;
  justify-content: space-between;
  border: 1px solid;
  padding: 40px;
}

/* 共通タイトル */
.h-m-m-title {
  height: 35px;
  text-align: center;
  margin: 20px 0;
  font-size: 30px;
}

.h-m-m-title a {
  text-decoration: none;
}

/* famous-quote */
.famous-quote {
  height: calc(100% - (40px * 2));
  flex: 2;
  margin: 40px;
  border-radius: 20px;
  background-color: #ffffff;
}

.h-m-m-content1 {
  height: calc(100% - 20px - 20px - 35px);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* schedule */
.schedule {
  height: calc(100% - (40px * 2));
  flex: 1;
  margin: 40px;
  border-radius: 20px;
  background-color: #ffffff;

}

.h-m-m-content2 {
  height: calc(100% - 20px - 20px - 35px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* checklist */
.checklist {
  height: calc(100% - (40px * 2));
  flex: 1;
  margin: 40px;
  border-radius: 20px;
  background-color: #ffffff;
}

.h-m-m-content3 {
  height: calc(100% - 20px - 20px - 35px);
  display: flex;
}

.checkbox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 20px;
  margin: 0 10px;
}

.content-list {
  height: 100%;
  width: calc(100% - 10px - 10px - 20px);
}

.h-m-m-c-lists {
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}






