<div class="home">
  
  <%= render "shared/side"%>

  <div class="home-main">

    <%= render "shared/header"%>

    <div class="h-m-main">
      
    </div>

    <%= render "shared/footer"%>
    
  </div>

</div>