<div class="h-m-footer">
  <div class="main-content">
    <%= link_to "価値観", values_path %>
  </div>
  <div class="main-content">
    <%= link_to "習慣", habits_path %>
  </div>
  <div class="main-content">
    <%= link_to "今日良かったこと", goods_path %>
  </div>
  <div class="main-content">
    <%= link_to "日記", diaries_path %>
  </div>
</div>