<div class="h-m-footer">
  <div class="main-content">
    <a href="#">価値観</a>
  </div>
  <div class="main-content">
    <a href="#">習慣</a>
  </div>
  <div class="main-content">
    <a href="#">今日よかったこと</a>
  </div>
  <div class="main-content">
    <a href="#">日記</a>
  </div>
</div>