    <div class="h-m-header">
      <% if @tagline.present? %>
        <%= link_to @tagline.title, taglines_path %>
      <% else %>
        <%= link_to "キャッチコピー入力", taglines_path %>
      <% end %>
    </div>