    <div class="h-m-header">
      <%= link_to "キャッチコピー入力", taglines_path %>
          <% if @tagline.present? %>
            <div class='home-famous'>
              <%= link_to "キャッチコピー入力", taglines_path %>
              <%= @tagline.phrase %>
            </div>
          <% else%>
            <%= link_to "キャッチコピー入力", taglines_path %>
          <% end %>

    </div>